!!! 5
-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
-# <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
-# <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%html
  %head>
    %title
      = full_title(yield(:title))
    %meta{:name => "description", :content => meta_description(yield(:description)) }/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300&subset=latin,cyrillic-ext', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    -# /[if (lt IE 9) & (!IEMobile)]
      -# %script{src: "/html5shim.googlecode.com/svn/trunk/html5.js"}
    = csrf_meta_tags\
  %body.loading
    #preloader

    #main
      .wrapper
        = yield